
<body>
  
<!-- Warming Up -->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>

<!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=cvoBbSz3yOU',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
  <div class="container_test">
      <div class="heading">
        <h3>Lets Find your Perfect Beer!</h3>
        <p class="lef">We're helping you find the perfect local craft brew. There are over 2,500 craft brewers and many of them are in your area.
        Why not support them and drink a better brew?</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->


<script type="text/javascript">
$(document).ready(function () {
    $(".player").mb_YTPlayer();
    

});
</script>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      </body>
</body>
</html>